<p id="notice"><%= notice %></p>

<div class='container-fluid' id='month-show'>
  <h1 class='row'>
    <%= @month.name.strftime("%B") %>
    <%= @month.name.year %>
  </h1>

  <div class='row'>
    <div class='col-md-6'>
      <div class='container-fluid expense-div'>
        <div class='row'>
          <h2>Bills Due This Month</h2>
        </div>

        <div class='row'>
          <div class='col-sm-2'>
            <h4>Expense</h4>
          </div>
          <div class='col-sm-2'>
            <h4>Budgeted Amount</h4>
          </div>
          <div class='col-sm-2'>
            <h4>Actual Amount</h4>
          </div>
          <div class='col-sm-2'>
            <h4>Due Date</h4>
          </div>
          <div class='col-sm-2'>
            <h4>Expense Category</h4>
          </div>
          <div class='col-sm-2'>
            <h4>Action</h4>
          </div>
        </div>

        <% @expenses.each do |expense| %>
          <div class='row bills'>
            <div class='col-sm-2'>
              <h4><%= expense.name %></h4>
            </div>
            <div class='col-sm-2'>
              <h4><%= expense.amt_budget %></h4>
            </div>
            <div class='col-sm-2'>
              <h4><%= expense.amt_actual %></h4>
            </div>
            <div class='col-sm-2'>
              <h4><%= expense.due_date %></h4>
            </div>
            <div class='col-sm-2'>
              <h4><%= expense.exp_category %></h4>
            </div>
            <div class='col-sm-2'>
              <%= link_to 'Edit', edit_expense_path(expense) %>
              <%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class='col-md-6'>
      <div class='container-fluid income-div'>
        <div class='row'>
          <h2>Income Expected This Month</h2>
        </div>

        <div class='row'>
          <div class='col-sm-2'>
            <h4>Income</h4>
          </div>
          <div class='col-sm-2'>
            <h4>Budgeted Amount</h4>
          </div>
          <div class='col-sm-2'>
            <h4>Source</h4>
          </div>
          <div class='col-sm-2'>
            <h4>Actual Amount</h4>
          </div>
          <div class='col-sm-2'>
            <h4>Pay Date</h4>
          </div>
          <div class='col-sm-2'>
            <h4>Actions</h4>
          </div>
        </div>

        <% @incomes.each do |income| %>
          <div class='row pay'>
            <div class='col-sm-2'>
              <h4><%= income.name %></h4>
            </div>
            <div class='col-sm-2'>
              <h4><%= income.amt_budget %></h4>
            </div>
            <div class='col-sm-2'>
              <h4><%= income.source %></h4>
            </div>
            <div class='col-sm-2'>
              <h4><%= income.amt_actual %></h4>
            </div>
            <div class='col-sm-2'>
              <h4><%= income.pay_date %></h4>
            </div>
            <div class='col-sm-2'>
              <%= link_to 'Edit', edit_income_path(income) %>
              <%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='row'>
    <table class='table table-hover'>
      <h3>What would you like to do?</h3>
      <td><%= link_to 'Add a new expense', new_expense_path(@month) %> </td>
      <td><%= link_to 'Add a new income', new_income_path %></td>
      <td><%= link_to 'Edit the month name', edit_month_path(@month) %> </td>
      <td><%= link_to 'Go back to list of budgeted months', months_path %></td>
    </table>

  </div>


</div>
