<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% @income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :month_id %><br>
    <%= f.number_field :month_id %>
  </div>
  <div class="field">
    <%= f.label :amt_actual %><br>
    <%= f.number_field :amt_actual %>
  </div>
  <div class="field">
    <%= f.label :pay_date %><br>
    <%= f.date_select :pay_date %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :amt_budget %><br>
    <%= f.number_field :amt_budget %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
